<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content #scrollContentDialog class="mat-typography">
  <form class="add-lessons-form" [formGroup]="colorForm">
    <div class="row">
      <mat-form-field class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <mat-label>Nome Colore</mat-label>
        <input matInput type="text" formControlName="color" placeholder="Ex: Rosso" maxlength="255">
        <ng-container *ngFor="let validation of validationColor.color">
          <mat-error *ngIf="colorForm.get('color')!.hasError(validation.type) && colorForm.get('color')!.dirty">
            {{validation.message}}
          </mat-error>
        </ng-container>
      </mat-form-field>
    </div>
  </form>


  <div *ngIf="alertOK" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Perfetto!</strong> Colore caricato.
    <button (click)="closeAlert()" mat-raised-button class="close closeAlert" data-dismiss="alert"
            aria-label="Close">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>

  <div *ngIf="alertUpdateOK" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Perfetto!</strong> Colore aggiornato.
    <button (click)="closeAlert()" mat-raised-button class="close closeAlert" data-dismiss="alert"
            aria-label="Close">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>


  <div *ngIf="alertKO" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Errore!</strong> Non è possibile caricare il colore, riprova più tardi .
    <button (click)="closeAlert()" mat-raised-button class="close closeAlert" data-dismiss="alert"
            aria-label="Close">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>

  <div *ngIf="alertUpdateKO" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Errore!</strong> Non è possibile aggiornare il colore, riprova più tardi.
    <button (click)="closeAlert()" mat-raised-button class="close closeAlert" data-dismiss="alert"
            aria-label="Close">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="save()">SALVA</button>
  <button mat-button mat-dialog-close>CHIUDI</button>
</mat-dialog-actions>
