<h2 mat-dialog-title>{{product.descProductType}}</h2>
<mat-dialog-content #scrollContentDialog class="mat-typography">
  <app-variants-product-order #variantsProductOrderComponent *ngIf="utility.checkObj(product)"
                              [productStock]="product"></app-variants-product-order>
  <app-spinner *ngIf="!utility.checkObj(product)"></app-spinner>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="confirm()" cdkFocusInitial>CONFERMA</button>
  <button mat-button mat-dialog-close>CHIUDI</button>
</mat-dialog-actions>
