<div class="example-container">
  <div class="filters row">
    <mat-form-field class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <input matInput [(ngModel)]="cercaValue" (ngModelChange)="applyFilter(cercaValue)" placeholder="Cerca">
      <button *ngIf="cercaValue" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!--
    <mat-form-field appearance="fill" class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <mat-label>Filtra per range date</mat-label>
      <mat-date-range-input
        [formGroup]="campaignOne"
        [rangePicker]="campaignOnePicker">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
    </mat-form-field>
    -->

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" style="text-align: end">
      <button class="add-button"mat-fab extended (click)="openDialogAddClient()">
        <mat-icon>add</mat-icon> Aggiungi cliente
      </button>
    </div>

  </div>

  <div class="container-table">

    <table class="mat-table" mat-table matTableResponsive [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="immagine">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Immagine</th>
        <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.immagine}} </td>
      </ng-container>

      <ng-container matColumnDef="codiceArticolo">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Codice Articolo</th>
        <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.codiceArticolo}} </td>
      </ng-container>

      <ng-container matColumnDef="descrizioneArticolo">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Descrizione Articolo</th>
        <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.descrizioneArticolo}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Taglia</th>
        <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.taglia}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Colore</th>
        <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.colore!.colore}} </td>
      </ng-container>

      <ng-container matColumnDef="quantita">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Quantità</th>
        <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.quantitaDisponibile}}/{{element.quantitaMagazzino}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openDialogAddClient(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr class="mat-header-row" mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
      <tr class="mat-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="mat-paginator" [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>

</div>
