.logo {
  max-height: 150px !important;
}

.filters {
  margin-top: 1rem;
}

.container-table {
  margin-top: 1rem;
}

.add-button {
  background-color: #8b3c7f;
}

.immagine-tabella {
  height: 80px;
  width: auto;
}
/* START EXPAND STYLE TR */

tr.expand-detail-row {
  height: 0;
}

tr.main-tr {
  border: solid 5px;
}

.content-detail-row {
  min-height: 5rem;
  padding: 1rem;
}

.example-element-row td {
  border-bottom-width: 0;
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.header-child-table {
  font-weight: bold;
  text-transform: uppercase;
}

/* END EXPAND STYLE TR */


@media (min-width: 769px) {
  td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-height: 4rem;
    max-width: 20rem;
  }

  .mat-header-cell {
    font-weight: bold;
    text-transform: uppercase;
  }
  table {
    // display: block;
    overflow-x: visible;
    white-space: nowrap;
  }

}

@media (max-width: 768px) {
  .mat-table[matTableResponsive] {
    .mat-header-row {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      position: sticky;
      top: 0;
      z-index: 2;

      th.mat-header-cell {
        display: none;
        flex: 1;
        align-items: center;
        padding: 1rem 0.5rem;
        justify-content: space-around;

        & > .mat-sort-header-container {
          padding-left: 15px; // padding is used to center the header table cells, due to the width of the sort icon
        }

        &:not([mat-sort-header]),
        &.mat-sort-header-disabled,
        &.mat-column-actions {
          display: none;
        }
      }
    }

    .mat-row {
      height: auto;

      td.mat-cell:not(.mat-column-actions) {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0.5rem;
        text-align: right;
        word-break: break-word;

        & > * {
          grid-column: 2;
        }

        &:before {
          content: attr(data-column-name);
          text-align: left;
          font-weight: bold;
          text-transform: uppercase;

        }
      }

      td.mat-column-actions {
        display: flex;
        justify-content: center;
        padding: 0 0.5rem;

        & > button {
          margin: 0.5rem 0;
        }
      }

      &:last-of-type td:last-of-type {
        border: none;
      }

      &:not(:last-of-type) td:last-of-type {
        border-bottom: 0.5rem solid #fafafa;
      }
    }
  }

  .mat-card,
  .mat-expansion-panel {
    .mat-table[matTableResponsive] {
      border: 0.5rem solid #fafafa;
    }
  }
}
