<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content #scrollContentDialog *ngIf="articoloForm" class="mat-typography">
  <form class="add-lessons-form" [formGroup]="articoloForm">
    <div class="row">
      <div class="col">
        <button mat-raised-button (click)="imageInput.click()"> Seleziona immagine</button>
        <input #imageInput (change)="onFileSelected($event)" type="file" accept="image/*" style="display: none">
        <ng-container *ngIf="selectedFileOnChange">
          <span class="file-name">{{selectedFileOnChange?.name}}</span>
        </ng-container>
        <mat-error *ngIf="selectedFile.status === 'fail'" class="alert alert-danger">
          Caricamento immagine fallito!
        </mat-error>
        <br>
        <br>
        <div *ngIf="articolo?.image" class='image-product'>
          <img class="image-product-item" [src]="articolo.image"/>
          <button mat-button class="button-x" (click)="clearImage()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <br>
        <br>

      </div>
    </div>
    <div class="row">
      <mat-form-field class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <mat-label>Fornitore*</mat-label>
        <mat-select formControlName="fornitore">
          <mat-option *ngFor="let fornitore of fornitori" [value]="fornitore">
            {{fornitore.ragioneSociale}}
          </mat-option>
        </mat-select>
        <ng-container *ngFor="let validation of validationCliente.fornitore">
          <mat-error
            *ngIf="articoloForm.get('fornitore')!.hasError(validation.type) && articoloForm.get('fornitore')!.dirty">
            {{validation.message}}
          </mat-error>
        </ng-container>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <mat-label>Codice Articolo*</mat-label>
        <input matInput type="text" formControlName="codiceArticolo" placeholder="Ex: 01234567891" maxlength="255">
        <ng-container *ngFor="let validation of validationCliente.codiceArticolo">
          <mat-error
            *ngIf="articoloForm.get('codiceArticolo')!.hasError(validation.type) && articoloForm.get('codiceArticolo')!.dirty">
            {{validation.message}}
          </mat-error>
        </ng-container>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <mat-label>Descrizione Articolo*</mat-label>
        <input matInput type="text" formControlName="descrizioneArticolo" placeholder="Ex: Maglione" maxlength="255">
        <ng-container *ngFor="let validation of validationCliente.descrizioneArticolo">
          <mat-error
            *ngIf="articoloForm.get('descrizioneArticolo')!.hasError(validation.type) && articoloForm.get('descrizioneArticolo')!.dirty">
            {{validation.message}}
          </mat-error>
        </ng-container>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <mat-label>Prezzo*</mat-label>
        <div class="input-wrapper">
          <input matInput type="number" formControlName="prezzo" placeholder="0,00" maxlength="255" step="0.01"
                 (blur)="onBlurPrice()" (focus)="onFocusPrice()">
          <span *ngIf="utility.checkText(articoloForm.get('prezzo')!.value)" class="input-currency">€</span>
        </div>
        <div *ngIf="alertChangeFormatPrice" class="alert-price">Formato modificato!</div>
        <ng-container *ngFor="let validation of validationCliente.prezzo">
          <mat-error *ngIf="articoloForm.get('prezzo')!.hasError(validation.type) && articoloForm.get('prezzo')!.dirty">
            {{validation.message}}
          </mat-error>
        </ng-container>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <mat-label>Tipologia Prodotto*</mat-label>
        <mat-select formControlName="tipologiaProdotto">
          <mat-option *ngFor="let tipologia of tipologiaProdotti" [value]="tipologia">
            {{tipologia.desc | titlecase}}
          </mat-option>
        </mat-select>
        <ng-container *ngFor="let validation of validationCliente.tipologiaProdotto">
          <mat-error
            *ngIf="articoloForm.get('tipologiaProdotto')!.hasError(validation.type) && articoloForm.get('tipologiaProdotto')!.dirty">
            {{validation.message}}
          </mat-error>
        </ng-container>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngIf="taglie.length > 0 && taglie[0].desc !== tagliaScarpe[0].desc
                    && articoloForm.get('tipologiaProdotto')!.value && tipologiaProdotti && articoloForm.get('tipologiaProdotto')!.value!.id === tipologiaProdotti[0]!.id">
        <mat-label>Tipologia taglia abbigliamento*</mat-label>
        <mat-select formControlName="clothingSizeType">
          <mat-option *ngFor="let tipologia of clothingSizeTypes" [value]="tipologia">
            {{tipologia.desc | titlecase}}
          </mat-option>
        </mat-select>
        <ng-container *ngFor="let validation of validationCliente.clothingSizeType">
          <mat-error
            *ngIf="articoloForm.get('clothingSizeType')!.hasError(validation.type) && articoloForm.get('clothingSizeType')!.dirty">
            {{validation.message}}
          </mat-error>
        </ng-container>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Colori*</mat-label>
        <mat-chip-grid #chipGridColore aria-label="Seleziona colori">
          <mat-chip-row *ngFor="let colore of coloriSelected" (removed)="removeColore(colore.id!)">
            {{colore.colore | titlecase}}
            <button matChipRemove [attr.aria-label]="'remove ' + colore">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="Nuovo colore..." #coloreInput [formControl]="coloriCtrl"
               [matChipInputFor]="chipGridColore" [matAutocomplete]="autoColore"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addColore($event)"/>
        <mat-autocomplete #autoColore="matAutocomplete" (optionSelected)="selectedColore($event)">
          <mat-option *ngFor="let colore of filterColori | async" [value]="colore.colore">
            {{colore.colore | titlecase}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="row" *ngIf="taglie.length > 0">
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Taglie*</mat-label>
        <mat-chip-grid #chipGridTaglia aria-label="Seleziona taglie">
          <mat-chip-row *ngFor="let taglia of taglieSelected" (removed)="removeTaglia(taglia.id!)">
            {{taglia.desc | uppercase}}
            <button matChipRemove [attr.aria-label]="'remove ' + taglia">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="Nuova taglia..." #tagliaInput [formControl]="taglieCtrl"
               [matChipInputFor]="chipGridTaglia" [matAutocomplete]="autoTaglia"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addTaglia($event)"/>
        <mat-autocomplete #autoTaglia="matAutocomplete" (optionSelected)="selectedTaglia($event)">
          <mat-option *ngFor="let taglia of filterTaglie | async" [value]="taglia.desc">
            {{taglia.desc | uppercase}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <hr>

    <ng-container *ngIf="coloriSelected.length > 0 && taglie.length === 0">
      <hr>
      <div class="row">
        <ng-container formArrayName="colorVariants">
          <ng-container class="section-container-mobile " [formGroupName]="i"
                        *ngFor="let colorVariant of getColorVariantsForm(articoloForm); let i = index">
            <div class="col-sm-6 col-md-3 col-lg-1 col-xl-1" style="width: auto; text-align: center">
              <strong>{{colorVariant?.controls?.descColore?.value | titlecase}}</strong>
              <br>
              <mat-form-field style="max-width: 7.5rem; text-align: center;">
                <mat-label>Disponibilità</mat-label>
                <input matInput type="number" formControlName="stockColor">
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="coloriSelected.length > 0 && taglieSelected.length > 0">
      <div formArrayName="colorVariants">
        <div class="section-container-mobile"
             *ngFor="let colorVariant of getColorVariantsForm(articoloForm); let i = index">
          <div [formGroupName]="i">
            <div class="row">
              <div class="col">
                <strong>{{colorVariant?.controls?.descColore?.value | titlecase}}</strong>
              </div>
            </div>
            <div class="row">
              <ng-container formArrayName="sizeVariants">
                <ng-container
                  *ngFor="let sizeVariant of getSizeVariantsForm(colorVariant); let j = index">
                  <div class="col-sm-6 col-md-3 col-lg-1 col-xl-1" style="width: auto; text-align: center"
                       [formGroupName]="j">
                    <mat-form-field style="display: none">
                      <mat-label>Taglia*</mat-label>
                      <mat-select formControlName="idSize">
                        <mat-option *ngFor="let taglia of taglie" [value]="taglia.id">
                          {{taglia.desc}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    {{taglieSelected[j].desc | uppercase}}
                    <br>
                    <mat-form-field style="max-width: 7.5rem; text-align: center;">
                      <mat-label>Disponibilità</mat-label>
                      <input matInput type="number" formControlName="stock">
                    </mat-form-field>
                  </div>
                </ng-container>
              </ng-container>

            </div>
          </div>
          <br>
          <hr>
          <br>
        </div>
      </div>
    </ng-container>
  </form>


  <div *ngIf="alertOK" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Perfetto!</strong> Articolo caricato.
    <button (click)="closeAlert()" mat-raised-button class="close closeAlert" data-dismiss="alert"
            aria-label="Close">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>

  <div *ngIf="alertUpdateOK" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Perfetto!</strong> Articolo aggiornato.
    <button (click)="closeAlert()" mat-raised-button class="close closeAlert" data-dismiss="alert"
            aria-label="Close">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>


  <div *ngIf="alertKO" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Errore!</strong> Non è possibile caricare l'articolo, riprova più tardi .
    <button (click)="closeAlert()" mat-raised-button class="close closeAlert" data-dismiss="alert"
            aria-label="Close">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>

  <div *ngIf="alertUpdateKO" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Errore!</strong> Non è possibile aggiornare l'articolo, riprova più tardi.
    <button (click)="closeAlert()" mat-raised-button class="close closeAlert" data-dismiss="alert"
            aria-label="Close">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>

</mat-dialog-content>
<mat-dialog-content *ngIf="!articoloForm" style="text-align: -webkit-center;">
  <mat-spinner></mat-spinner>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="processFile(imageInput)" [disabled]="!articoloForm.valid">SALVA</button>
  <button mat-button (click)="refreshList.emit()" mat-dialog-close>CHIUDI</button>
</mat-dialog-actions>
