.select-colore {
  width: 15rem !important;
  text-align: center;
}

.select-talgia-numero {
  width: 9rem !important;
  text-align: center;
}

.row-colori {
  height: 4rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
