.button-col button{
  width: -webkit-fill-available;
  margin: 1rem;
  height: 250px !important;
  font-size: xx-large;
  text-align: center;
  background-color: #8b3c7f;
}

.button-col {
  contain: content;
}

.customIconSize {
  font-size: xxx-large;
  height: auto;
  width: auto;
}

.myContain {
  padding: 1rem;
}

