<div class="myContain grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid:cols-4">
  <div class="button-col">
    <button mat-fab extended routerLink="/customers">
      <div>
        <mat-icon  class="customIconSize">store</mat-icon>
      </div>
      <div>Clienti</div>
    </button>
  </div>
  <div class="button-col" *ngIf="userProfile && userProfile.type === 'ADMIN'">
    <button mat-fab extended routerLink="/providers">
      <div>
        <mat-icon  class="customIconSize">business</mat-icon>
      </div>
      <div>Fornitori</div>
    </button>
  </div>
  <div class="button-col" *ngIf="userProfile && userProfile.type === 'ADMIN'">
    <button mat-fab extended routerLink="/colors">
      <div>
        <mat-icon class="customIconSize">style</mat-icon>
      </div>
      <div>
        Colori
      </div>
    </button>
  </div>
  <div class="button-col" *ngIf="userProfile && userProfile.type === 'ADMIN'">
    <button mat-fab extended routerLink="/products">
      <div>
        <mat-icon class="customIconSize">style</mat-icon>
      </div>
      <div>
        Articoli
      </div>
    </button>
  </div>
  <div class="button-col">
    <button mat-fab extended routerLink="/orders">
      <div>
        <mat-icon class="customIconSize">list</mat-icon>
      </div>
      <div>
        Ordini
      </div>
    </button>
  </div>
  <div class="button-col" *ngIf="userProfile && userProfile.type === 'ADMIN'">
    <button mat-fab extended routerLink="/orders-provider">
      <div>
        <mat-icon class="customIconSize">list</mat-icon>
      </div>
      <div>
        Ordini Fornitori
      </div>
    </button>
  </div>
  <div class="button-col">
    <button mat-fab extended routerLink="/statistics">
      <div>
        <mat-icon class="customIconSize">poll</mat-icon>
      </div>
      <div>
        Statistiche
      </div>
    </button>
  </div>
  <div class="button-col">
    <button mat-fab extended routerLink="/merchandise-exchange">
      <div>
        <mat-icon class="customIconSize">cached</mat-icon>
      </div>
      <div>
        Cambio merce
      </div>
    </button>
  </div>
  <!--
  <div class="button-col">
    <button mat-fab extended routerLink="/calendar">
      <div>
        <mat-icon class="customIconSize">calendar_today</mat-icon>
      </div>
      <div>
        Calendario
      </div>
    </button>
  </div>
  -->
  <!--
  <div class="button-col">
    <button mat-fab extended routerLink="/calendar">
      <div>
        <mat-icon class="customIconSize">format_paint</mat-icon>
      </div>
      <div>
        Cartella Colori
      </div>
    </button>
  </div>
  -->
  <!--
  <div class="button-col">
    <button mat-fab extended routerLink="/calendar">
      <div>
        <mat-icon class="customIconSize">dashboard_customize</mat-icon>
      </div>
      <div>
        Tipologia Prodotti
      </div>
    </button>
  </div>
  -->
</div>
