<div class="example-button-row">
  <button mat-fab extended routerLink=".">
    <mat-icon>store</mat-icon>
    <span>Clienti</span>
  </button>
  <button mat-fab extended routerLink=".">
    <mat-icon>style</mat-icon>
    <span>Articoli</span>
  </button>
  <button mat-fab extended routerLink=".">
    <mat-icon>list</mat-icon>
    <span>Ordini</span>
  </button>
  <button mat-fab extended routerLink=".">
    <mat-icon>poll</mat-icon>
    <span>Statistiche</span>
  </button>
  <a mat-fab extended routerLink=".">
    <mat-icon>cached</mat-icon>
    <span>Cambio merce</span>
  </a>
</div>
