<mat-sidenav-container *ngIf="isSignedIn">
  <mat-sidenav #sidebar mode='side' opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar>
          <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
          <div class="box" *ngIf="isSignedIn">
            <!--<mat-icon routerLink="profile">account_circle</mat-icon>-->
            <mat-icon (click)="signOut()">exit_to_app</mat-icon>
          </div>
        </mat-toolbar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="main" *ngIf="!isSignedIn">
  <diV style="padding: 3rem; text-align: -webkit-center;">
    <div style="font-weight: bolder; font-size: xxx-large">
      Order Management
    </div>
    <br>
    <br>
    <img class="col" src="../../../assets/img/Logo_Order_Management.png" style="max-width: 300px; width: 100%">
    <br>
    <br>
    <router-outlet></router-outlet>
  </diV>
</div>

